.header{
    text-align: center;
    padding: 20px;
    background-color: seashell;
    position:sticky;
    
   }

   .header nav{
       background-color: rgb(209, 177, 177);
       line-height: 50px;
       display:grid;
       grid-template-columns: repeat(3,1fr);
      
   }
   
   .header nav a{
       text-decoration: none;
       padding: 5px 15px 5px 15px;
       margin-left: 10px;
       color: rgb(0, 0, 0);
       
       
   }
   .header nav a:hover{
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    margin-left: 10px;
    color: rgb(41, 39, 39);
    background-color: rgb(142, 184, 142);
    
}
.header h1{
    font-size: 46px;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading div img{
    width: 150px;
    height: 150px;
    padding-right: 50px;
}